footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: left;

}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-discuss {
  background-color: #ffb400;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}

.footer-discuss h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-discuss p {
  margin-bottom: 20px;
}

.email-form input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  color: #111;
}

.email-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #999;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.email-updates-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-updates-form input {
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  color: #111;
}

.go-to-top {
  text-align: center;
  margin-top: 20px;
}

.go-to-top button {
  background-color: #ffb400;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.footer-credit {
  text-align: center;
  margin-top: 20px;
  color: #999;
}